<!DOCTYPE html>
<html lang="en" ng-app="timer">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Online Timer with HTML5 Notifications</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
        <link href="/timer15.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <style type="text/css">
          input, textarea {
            display: block;
          }
          textarea.form-control { height: 110px; }
          [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
          }
        </style>
    </head>
    <body ng-controller="MainCtlr" ng-cloak class="ng-cloak">
      <!-- tell people to get with the javascript program -->
      <noscript>You should get some javascript!</noscript>

      <!-- main dom -->
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-md-offset-3 header">
            <h1><img src="timer15.png"/> HTML5 Timer and Notification</h1>
          </div>
        </div>

        <!-- enable check status of html5 notifs -->
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
              <button class="btn btn-info" ng-click="requestPermission()">Request Permission</button>
              <button class="btn btn-info" ng-click="checkPermission()">Check Permission</button>
              <div>
                <h2>Permission: <span ng-class="permissionResultClass()">{{ result }}</span></h2>
              </div>
            </div>
          </div>
        </div>

        <!-- customize notif -->
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
              <input class="form-control" placeholder="title" ng-model="title" />
              <input class="form-control" ng-model="tag" placeholder="tag" />
              <input class="form-control" ng-model="icon" type="url" placeholder="icon"  / >
              <textarea class="form-control" ng-model="body" placeholder="body"></textarea>
              <!-- test out your customizations before using with timer -->
              <button class="btn btn-default" ng-click="testNotification()">Test</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <hr/>
            Type time (in milliseconds): <input class="form-control" ng-model="time" />
            <hr/>
            <h1>{{ time | millSecondsToTimeString }}</h1>
            <button class="btn btn-primary btn-lg btn-block" ng-click="startTimer()" ng-disabled="timerStarted">{{ startTimerBtnTxt }}</button>
          </div>
        </div>

      </div><!-- end of .container -->

      <!-- body goes here -->
      <script type="text/javascript" src="/angular/angular.min.js"></script>
      <script type="text/javascript" src="/angular/main.js"></script>
    </body>
</html>
